*{
	box-sizing: border-box;
}

#board{
	width: 400px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(5, auto);

	border: 3px solid black;
	border-radius: 5px;
	/* border-bottom:  */
}

.piece{
	border: 1px solid black;
	border-radius: 5px;

	grid-column: var(--left) / calc(var(--left) + var(--width));
	grid-row: var(--top) / calc(var(--top) + var(--height));
}

.rect{
	background: #f6a13c;
}
.target{
	background: #77100a;
}
.square{
	background: #4291d1;
}
